<div id="About" class="container d-flex flex-wrap align-items-center justify-content-center" style="padding-top: 20px;">

  <div class="d-grid gap-3" style="width: inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">01. About Me </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>
  </div>

  <div class="clearfix">
    <img src="../../assets/vk_profile.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 rounded" alt="..."
      style="width:290px;height:270px;">

    <p>
      I am a web developer(Senior Software Engineer) having 2+ years experience with an amazing ability to develop websites who also demonstrates keen interest in the booming technologies.
    </p>
    <p>
      I have a strong understanding of web standards and best practices, and I am passionate about creating websites that users will find easy to use and visually appealing. I am also proficient in a variety of programming languages and tools, and I have a proven track record of delivering successful projects on time.
    </p>
    <p>
      I am a team player who is always willing to lend a helping hand, and I am confident in my ability to contribute to any project. I can be identified as one who goes the extra mile to master himself in his field of expertise and as the go-to person for issues which under his domain.
    </p>
    <P>
      I am looking for an opportunity to use my skills and experience to make a positive impact on the web.
    </P>



  </div>
</div>