<div id="About" class="container d-flex flex-wrap align-items-center justify-content-center" style="padding-top: 20px;">

  <div class="d-grid gap-3" style="width: inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">01. About Me </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>
  </div>

  <div class="clearfix">
    <img src="../assets/DSC_5424.JPG" class="col-md-6 float-md-end mb-3 ms-md-3 rounded" alt="..."
      style="width:250px;height:250px;">

    <p>
      Vishnu Kumar is an avid and enthusiastic software developer who also demonstrates keen
      interest in the booming technologies.
    </p>
    <p>
      He is fueled and backed by his strong personal commitment
      to hand over
      nothing short of excellence in the task at hand.
    </p>
    <p>
      Vishnu can be identified as one who goes
      the extra mile to master himself in his field of expertise and as the go-to person for issues
      which under his domain.
    </p>



  </div>
</div>