<div>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #527a7a" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Intro">Vishnu Kumar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contact">Contact</a>
          </li>
    
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="Intro" class="container d-flex align-items-center justify-content-center" style="padding-top: 20px;">
  <div class="d-grid gap-3">
    <div class="p-2">
      <h1 class="display-1">Vishnu kumar</h1>
    </div>
    <div class="p-2">
      <h2 class="display-4">I build things for the web.</h2>
    </div>
    <div class="p-2">
      <p class="lead">Looking for a challenging role in a reputable organization to utilize my technical skills for the
        growth of
        my organization as well as to enhance my knowledge about new and emerging trends in the IT sector.</p>
    </div>
  </div>
</div>

<div id="About" class="container d-flex flex-wrap align-items-center justify-content-center" style="padding-top: 20px;">

  <div class="d-grid gap-3" style="width: inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">01. About Me </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>
  </div>

  <div class="clearfix">
    <img src="../assets/DSC_5424.JPG" class="col-md-6 float-md-end mb-3 ms-md-3 rounded" alt="..."
      style="width:250px;height:250px;">

    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a
      few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>

    <p>
      As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some
      actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no
      tangible information at. It simply takes up space and should not really be read.
    </p>

    <p>
      And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some
      hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
    </p>


  </div>

</div>

<div id="Experience" class="container d-flex flex-wrap align-items-center justify-content-center"
  style="padding-top: 50px;">
  <div class="d-grid gap-3" style="width:inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">02. Experience </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>
  </div>

  <div style="width: 70%">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button btn btn-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            2021(July)- Present
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3>
              <span class="display-6" style="font-weight: normal">
                Full Stack Developer
              </span>
              <span class="display-6" style="font-size: x-large;">
                @
                <a href="https://embedur.com/" class="display-6" style="font-size: x-large;" target="_blank">embedUR</a>
              </span>
            </h3>
            <ul class="list-group border-0">
              <li class="list-group-item lead">Having knowledge over several applications/ processes within the team and
                performing
                the tasks on the same</li>
              <li class="list-group-item lead">Addressing and resolving application issues and performing root cause
                analysis
                (RCA)</li>
              <li class="list-group-item lead">Maintaining and improvising the systems provided as a service by
                monitoring
                them.</li>
              <li class="list-group-item lead">Improvising and Creating the code/ scripts as fix to the existing issues
                with
                the
                application</li>
              <li class="list-group-item lead">Deploy release for testing and local cloud</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed btn btn-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2020(Sep) - 2021(July)
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3>
              <span class="display-6" style="font-weight: normal">
                Angular Developer
              </span>
              <span class="display-6" style="font-size: x-large;">
                @
                <a href="https://3diqinc.com/" class="display-6" style="font-size: x-large;" target="_blank">3DiQ</a>
              </span>
            </h3>

            <ul class="list-group border-0">
              <li class="list-group-item lead">Having knowledge in creating UI with functionalities .</li>
              <li class="list-group-item lead">Converting windows application functionalities into standalone .</li>
              <li class="list-group-item lead">Issue management and problem management.</li>
              <li class="list-group-item lead">Improvising the code as fix to the existing issues with the application.
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

 


</div>

<div id="Skills" class="container d-flex flex-wrap align-items-center justify-content-center"
  style="padding-top: 50px;padding-bottom: 50px;">
  <div class="d-grid gap-3" style="width:inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">03. Skills </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="d-flex aligns-items-center justify-content-center" style="padding-bottom: 2%">
          <h3>Programming Languages</h3>
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/Html.png" alt="HTML" style="width:100px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/css.png" alt="css" style="width:100px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/javascript.png" alt="js" style="width:100px;height:100px;cursor: pointer;">
        </div>

        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/typescript.png" alt="typescript" style="width:120px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/python.png" alt="python" style="width:100px;height:100px;cursor: pointer;">
        </div>

      </div>
      <div class="row">
        <div class="d-flex aligns-items-center justify-content-center" style="padding-bottom: 2%;padding-top: 2%;">
          <h3>Libraries & Frameworks</h3>
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/angular.png" alt="angular" style="width:100px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/node.png" alt="nodejs" style="width:100px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/express.png" alt="expressjs" style="width:120px;height:120px;cursor: pointer;">
        </div>
      </div>

      <div class="row">
        <div class="d-flex aligns-items-center justify-content-center" style="padding-bottom: 2%;padding-top: 2%;">
          <h3>Tools & Platforms</h3>
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/docker.png" alt="docker" style="width:100px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/wsl.png" alt="wsl" style="width:120px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/vscode.png" alt="vscode" style="width:100px;height:100px;cursor: pointer;">
        </div>
        <div class="col zoom d-flex aligns-items-center justify-content-center">
          <img src="../assets/git.png" alt="git" style="width:120px;height:100px;cursor: pointer;">
        </div>

      </div>
    </div>
  </div>







</div>

<div id="Contact" class="container d-flex flex-wrap align-items-center justify-content-center"
  style="padding-top: 50px;padding-bottom: 50px;">
  <div class="d-grid gap-3" style="width:inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">04. What's Next ? </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="d-flex aligns-items-center justify-content-center">
        <h3 class="display-3">Get in touch</h3>
      </div>
    </div>
    <div class="row">
      <div class="d-flex aligns-items-center justify-content-center">
        <p>
          Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="d-flex aligns-items-center justify-content-center">
        <a type="button" href="mailto:kumarvishnu610@gmail.com" class="btn btn-success">Say Hello</a>
      </div>
    </div>
  </div>

</div>

<footer style="text-align: center">
  <p> <br>
    <a href="#Intro">Design & Built by Vishnu Kumar</a>
  </p>
</footer>