<div id="Contact" class="container d-flex flex-wrap align-items-center justify-content-center"
  style="padding-top: 50px;padding-bottom: 50px;">
  <div class="d-grid gap-3" style="width:inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">04. What's Next ? </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="d-flex aligns-items-center justify-content-center">
        <h3 class="display-3">Get in touch</h3>
      </div>
    </div>
    <div class="row">
      <div class="d-flex aligns-items-center justify-content-center">
        <p>
          Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="d-flex aligns-items-center justify-content-center">
        <a type="button" href="mailto:kumarvishnu610@gmail.com" class="btn btn-success">Say Hello</a>
      </div>
    </div>

    <div class="row" style="padding: 10px">
      <div class="d-flex aligns-items-center justify-content-center">
        <a href="https://www.linkedin.com/in/vishnu-kumar-k-s-76a1761aa" target="_blank">
          <img src="../../assets/Linkedin.png" alt="Linkedin" style="width:50px;height:50px;cursor: pointer;">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="d-flex aligns-items-center justify-content-center">
        <h3>
          <span>
            <img src="../../assets/phone-call.png" alt="Phone no" style="width:40px;height:40px;cursor: pointer;"> 
          </span>
  
          <span>
            9344871004
          </span>
        </h3>
        
      </div>
    </div>

  </div>

</div>
