<div class="d-grid gap-3" style="width:inherit">
    <div class="p-2 d-flex flex-column bd-highlight">
      <div class="d-flex aligns-items-center justify-content-center">
        <h1 class="display-6 mb-0">02. Experience </h1>
      </div>
      <div class="d-flex aligns-items-center justify-content-center">
        <hr class="line">
      </div>
    </div>
  </div>

  <div style="width: 70%">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button btn btn-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            2021(July)- Present
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3>
              <span class="display-6" style="font-weight: normal">
                Full Stack Developer
              </span>
              <span class="display-6" style="font-size: x-large;">
                @
                <a href="https://embedur.com/" class="display-6" style="font-size: x-large;" target="_blank">embedUR</a>
              </span>
            </h3>
            <ul class="list-group border-0">
              <li class="list-group-item lead">Having knowledge over several applications/ processes within the team and
                performing
                the tasks on the same</li>
              <li class="list-group-item lead">Addressing and resolving application issues and performing root cause
                analysis
                (RCA)</li>
              <li class="list-group-item lead">Maintaining and improvising the systems provided as a service by
                monitoring
                them.</li>
              <li class="list-group-item lead">Improvising and Creating the code/ scripts as fix to the existing issues
                with
                the
                application</li>
              <li class="list-group-item lead">Deploy release for testing and local cloud</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed btn btn-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2020(Sep) - 2021(July)
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3>
              <span class="display-6" style="font-weight: normal">
                Angular Developer
              </span>
              <span class="display-6" style="font-size: x-large;">
                @
                <a href="https://3diqinc.com/" class="display-6" style="font-size: x-large;" target="_blank">3DiQ</a>
              </span>
            </h3>

            <ul class="list-group border-0">
              <li class="list-group-item lead">Having knowledge in creating UI with functionalities .</li>
              <li class="list-group-item lead">Converting windows application functionalities into standalone .</li>
              <li class="list-group-item lead">Issue management and problem management.</li>
              <li class="list-group-item lead">Improvising the code as fix to the existing issues with the application.
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>