/* You can add global styles to this file, and also import other style files */
body {
	--text-color: #222;
	--bkg-color: #fff;
	--btn-txt-color: white;
	--btn-bg-color: rgb(11, 88, 160);
	--line-color : black;
  }

body.dark-theme {
	--text-color: #eee;
	--bkg-color: #252222;
	--btn-txt-color: rgb(46, 43, 43);
	--btn-bg-color: rgb(20, 211, 195);
	--line-color : white;
}

body{
	background: var(--bkg-color);
}

h1,h2,h3,
p {
  color: var(--text-color);
}

.btn.btn-success {
	color: #ffffff;
	background-color: #527a7a;
	border-color: #527a7a;
  }
  .btn.btn-success:hover {
	color: #ffffff;
	background-color: #476b6b;
	border-color: #476b6b;
  }
  .btn.btn-success:focus, .btn.btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgb(148, 184, 184)
  }
  .btn.btn-success.disabled, .btn.btn-success:disabled {
	color: #ffffff;
	background-color: #527a7a;
	border-color: #527a7a;
  }
  .btn.btn-success:not(:disabled):not(.disabled):active,
  .btn.btn-success:not(:disabled):not(.disabled).active {
	color: #ffffff;
	background-color: #476b6b;
	border-color: #476b6b;
  }
  .show > .btn.btn-success.dropdown-toggle {
	color: #ffffff;
	background-color: #476b6b;
	border-color: #476b6b;
  }
  .show > .btn.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgb(71, 107, 107)

  }
  .btn.btn-success:not(:disabled):not(.disabled):active:focus,
  .btn.btn-success:not(:disabled):not(.disabled).active:focus {
	box-shadow: 0 0 0 0.2rem rgb(71, 107, 107)
  }

  .accordion-body{
	background: var(--bkg-color);
	color: var(--text-color);

  }

  .accordion-item{
	border: var(--line-color);
  }

  .list-group-item{
	background-color: inherit;
	border: 0;
	color: var(--text-color);
	font-size: large;
	font-weight: 500;
  }
  .list-group-item .border-0 {
	list-style-type: disc !important;
	padding-left: 1em;
  }
  .list-group-item::before {
	content: "●";
	margin-right: 0.75rem;
  }

.line{
	height: 1px;
    width: 50%;
    border-width: 0;
    color: var(--line-color);
    background-color: var(--line-color);
}
 
.footer-container {
	height: 24px;
	margin-top: -36px;
  }
  .footer-content {
	margin: 0 auto;
	text-align: center;
  }
