/* You can add global styles to this file, and also import other style files */
.btn.btn-success {
	color: #ffffff;
	background-color: #527a7a;
	border-color: #527a7a;
  }
  .btn.btn-success:hover {
	color: #ffffff;
	background-color: #476b6b;
	border-color: #476b6b;
  }
  .btn.btn-success:focus, .btn.btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgb(148, 184, 184)
  }
  .btn.btn-success.disabled, .btn.btn-success:disabled {
	color: #ffffff;
	background-color: #527a7a;
	border-color: #527a7a;
  }
  .btn.btn-success:not(:disabled):not(.disabled):active,
  .btn.btn-success:not(:disabled):not(.disabled).active {
	color: #ffffff;
	background-color: #476b6b;
	border-color: #476b6b;
  }
  .show > .btn.btn-success.dropdown-toggle {
	color: #ffffff;
	background-color: #476b6b;
	border-color: #476b6b;
  }
  .show > .btn.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgb(71, 107, 107)

  }
  .btn.btn-success:not(:disabled):not(.disabled):active:focus,
  .btn.btn-success:not(:disabled):not(.disabled).active:focus {
	box-shadow: 0 0 0 0.2rem rgb(71, 107, 107)
  }

  .list-group-item{
	background-color: inherit;
	border: 0;
	font-size: large;
	font-weight: 500;
  }
  .list-group-item .border-0 {
	list-style-type: disc !important;
	padding-left: 1em;
  }
  .list-group-item::before {
	content: "●";
	margin-right: 0.75rem;
  }

.line{
	height: 1px;
    width: 50%;
    border-width: 0;
    color: black;
    background-color: black;
}
 
.footer-container {
	height: 24px;
	margin-top: -36px;
  }
  .footer-content {
	margin: 0 auto;
	text-align: center;
  }
